# Ignore everything
/*

# But don't ignore the garrysmod folder
!container/physgun.json
!container/garrysmod/addons/
!container/garrysmod/cfg/server.cfg
!container/garrysmod/gamodes/
!container/garrysmod/lua/
!container/garrysmod/maps/
!/.gitignore

